/**********************************/
/********** GENERAL STYLE *********/
/**********************************/

body {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* Scrollbar style */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.container {
  height: 100vh;
}

.card {
  background-color: transparent;
  width: 400px;
  padding: 10px;
  border: 1px solid #eee;
}

.inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.btn-outline-danger:hover .hovcolor {
  cursor: pointer;
  color: white !important;
}
